@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #131313;
    --btn-background: #1b1b1b;
    --btn-border: #7c7c7c;
    --btn-border-hover: #b0b0b0;
    --btn-secondary-background: #848484;
    --text-primary: #efefef;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: #131313;
      --btn-background: #1b1b1b;
      --btn-border: #7c7c7c;
      --btn-border-hover: #b0b0b0;
      --btn-secondary-background: #848484;
      --text-primary: #efefef;
    }
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: "Times New Roman", Times, serif;
  }
}
