@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 19, 19, 19;
    --btn-background: #1b1b1b;
    --btn-border: #7c7c7c;
    --btn-border-hover: #b0b0b0;
    --btn-secondary-background: #848484;
    --text-primary: #efefef;
    --background-with-opacity: rgba(var(--background), 0.8);
    --bakcground-image: url("/background.jpg");
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 239, 239, 239;
      --btn-background: rgb(var(--background));
      --btn-border: #7c7c7c;
      --btn-border-hover: #b0b0b0;
      --btn-secondary-background: #848484;
      --text-primary: rgb(19, 19, 19);
      --background-with-opacity: rgba(var(--background), 0.8);
      --bakcground-image: url("/background_light.jpg");
    }
  }
  body {
    background-color: rgb(var(--background));
  }
  * {
    color: var(--text-primary);
  }

  body {
    font-family: "Proza Libre", serif;
  }

  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-family: "Cormorant Garamond", serif;
  }

  @media (width > 768px) {
    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
}
